{% extends '_templates/base.njk' %}

{% block page_title %}Recommend an Album{% endblock %}

{% block page_description %}Recommend an Album{% endblock %}

{% block content %}
<div class="container">
  <h1>Recommend an Album</h1>
  <p>Is there an album you think I should add to my collection? Let me know!</p>
  <div class="embed-responsive embed-responsive-1by1">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScKi3JsEhtk4GsnT58z7tcoAf--CcWu8SwAQ6zdN91jCz9y0g/viewform?embedded=true">Loading…</iframe>
  </div>
</div>
{% endblock %}