//insert google font//

// .jumbotron.banner {
//   background-image: url(../img/vinyl-banner.jpg) no-repeat center;
//   background-size: cover;
//   color: white;
//   padding-top: 12rem
// }

.jumbotron {
  background-image: url(../img/vinyl-banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  margin-bottom: 30px;
  color: #fff;
  height: 300px;
}

.display-4 {
  font-family: 'Cherry Cream Soda', sans-serif;
  font-weight: 500;
  color: #fff;
}

.lead {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
