// Custom variable overrides
$retro-orange: #dd802c;
$retro-ltOrange: #e8b877;
$retro-blue: #669fb2;
$retro-gray: #dadfe1;
$retro-brown: #3e2a20;

/* bootstrap */
@import "../../node_modules/bootstrap/scss/bootstrap";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Roboto&display=swap');

// Import partials
@import "nav";
@import "jumbotron";
@import "cards";

h3 {
  font-size: 1.5rem;
}

p, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.list-notNav {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Cherry Cream Soda', sans-serif;
  color: $retro-blue;
  font-weight: bold;
}

.btn {
  background-color: $retro-blue;
  border-color: $retro-blue;
}

.btn:hover {
  background-color: #5a8c9c;
  border-color: #5a8c9c;
}

.btn:active {
  background-color: #5a8c9c;
  border-color: #5a8c9c;
}

.btn-txt {
  margin-bottom: 0px;
  color: #fff;
}

a {
  color: $retro-blue;
}

a:hover {
  text-decoration: none;
}

h4 {
  margin-top: 40px;
}
